#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .bar {
    float: left;
  }
  
  .bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .bar a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: hsl(194, 96%, 50%);
  }
  main{
    text-align: center;
    
  }
  body{
    background-color: rgba(255, 255, 255, 0.856);
  }
  #about{
    background-color: #ffff;
  }
  ul{
    list-style-type: none;
  }